/* variables for he wrecking crew */
/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
/* line 8, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 10, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 14, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/* line 19, ../scss/style.scss */
html {
  box-sizing: border-box;
}

/* line 22, ../scss/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/***** TAG STYLES *************/
/**********************************/
/* line 27, ../scss/style.scss */
body {
  color: #1e1d1d;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 32, ../scss/style.scss */
body img {
  display: block;
}
/* line 35, ../scss/style.scss */
body h1, body h2 {
  margin: 0;
  font-family: 'Alegreya', serif;
  font-weight: 900;
  font-size: 3em;
}
/* line 41, ../scss/style.scss */
body h2 {
  font-size: 1.2em;
  font-weight: 900;
  margin-top: 0.5em;
}
/* line 46, ../scss/style.scss */
body h3 {
  margin: 0 0 0.2em 0;
  font-family: serif;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 100;
}
/* line 53, ../scss/style.scss */
body p {
  line-height: 1.5em;
  font-family: serif;
  font-size: 1.2em;
}

/* line 59, ../scss/style.scss */
.border {
  position: absolute;
  background: url(../img/thex.jpg);
  z-index: 100;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

/******SITE STYLES******************/
/**********************************/
/* line 72, ../scss/style.scss */
.main-container {
  position: relative;
  width: 100%;
  background-color: white;
}

/* line 78, ../scss/style.scss */
.header {
  background: url(../img/texture.jpeg);
  background-position: center top;
  position: relative;
  height: 200px;
}
/* line 83, ../scss/style.scss */
.header img {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 360px;
  z-index: 10;
}

/* line 93, ../scss/style.scss */
.main {
  width: 95%;
  padding-top: 7em;
  max-width: 1100px;
  margin: 0 auto;
}
/* line 98, ../scss/style.scss */
.main .main-text {
  width: 90%;
  margin: 0em auto 3em auto;
  text-align: center;
}
/* line 104, ../scss/style.scss */
.main .main-text p {
  width: 80%;
  margin: 1.5em auto;
  max-width: 800px;
  text-align: center;
}
/* line 111, ../scss/style.scss */
.main .profile-container {
  text-align: center;
}
/* line 113, ../scss/style.scss */
.main .profile-container .profile {
  padding-bottom: 6em;
}
/* line 115, ../scss/style.scss */
.main .profile-container .profile:last-child {
  padding-bottom: 2em;
}
/* line 119, ../scss/style.scss */
.main .profile-container .profile-image {
  position: relative;
}
/* line 121, ../scss/style.scss */
.main .profile-container .profile-image img {
  width: 70%;
  max-width: 250px;
  margin: 0 auto;
  z-index: 2;
}
/* line 127, ../scss/style.scss */
.main .profile-container .profile-image .send-behind {
  display: none;
}
/* line 131, ../scss/style.scss */
.main .profile-container .profile-image.set-behind {
  position: absolute;
  max-width: 300px;
  z-index: 0;
}

/* line 139, ../scss/style.scss */
.social {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}
/* line 144, ../scss/style.scss */
.social a {
  display: inline-block;
  color: #1e1d1d;
  opacity: 1;
}
/* line 148, ../scss/style.scss */
.social a:hover {
  opacity: 0.6;
}

/* line 153, ../scss/style.scss */
.picture-roll-container {
  width: 100%;
}

/* line 156, ../scss/style.scss */
.picture-roll {
  background: url(../img/picture-roll.jpg);
  height: 250px;
  margin-top: 4em;
}

/* line 162, ../scss/style.scss */
.inverse a {
  color: white;
  padding: 1em 0 0 0;
  opacity: 1;
}
/* line 166, ../scss/style.scss */
.inverse a:hover {
  opacity: 0.8;
}

/* line 172, ../scss/style.scss */
footer {
  background: url(../img/texture.jpeg);
  height: 380px;
  position: relative;
}
/* line 176, ../scss/style.scss */
footer img {
  width: 40%;
  max-width: 220px;
  padding-top: 3em;
  margin: 0 auto;
}
/* line 182, ../scss/style.scss */
footer p {
  color: white;
  margin: 0;
  font-size: 0.8em;
}

@media screen and (min-width: 550px) {
  /* line 192, ../scss/style.scss */
  .profile-container .profile {
    padding-bottom: 6em;
    width: 49%;
    display: inline-block;
  }
  /* line 198, ../scss/style.scss */
  .profile-container .profile-image img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    z-index: 1;
  }
}
@media screen and (min-width: 860px) {
  /* line 210, ../scss/style.scss */
  .main .profile-container .profile {
    padding-bottom: 8em;
    width: 32%;
    display: inline-block;
  }
  /* line 216, ../scss/style.scss */
  .main .profile-container .profile-image img {
    width: 100%;
    max-width: 225px;
    margin: 0 auto;
    z-index: 1;
  }
}
